@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


html,body,.root{
    @apply w-full h-full m-0 bg-black text-white font-roboto
}
.moved {
    animation-name : mymove;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 2s;
  }
  
  @keyframes mymove {
    from {transform: translateY(0px);}
    to {transform: translateY(20px);}
  }